.kids-banner {
  background-image: url("https://img.freepik.com/premium-vector/robotics-programming-education-children-kids-electronic-engineering-coding-lessons_605858-449.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
