.about-banner {
  background-image: url("https://themephi.net/template/eduan/eduan/assets/img/breadcrumb/breadcrumb-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  width: 100%;
}
